.login {
    width: 100vw;
    height: 100vh;
    background: #f8f8f8;

    .login-box {
        position: relative;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 300px;
        height: 500px;
        background: white;
    }
}