.roomlist {
    flex: auto;
    overflow-y: scroll;
    
    .create-room-button {
        position: absolute;
        bottom: 24px;
        right: 24px;
        width: 60px;
        height: 60px;
        background: url(../../images/fab.png) center no-repeat;
        background-size: contain;
        cursor: pointer;
    }

    .roomlist-item {
        display: flex;
        align-items: center;
        padding: 14px;
        cursor: pointer;

        &:hover {
            background: #f8f8f8;
        }

        .roomlist-item-content {
            flex: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;

            p {
                margin: 4px 0;
            }

            .roomlist-item-title {
                display: flex;
                align-items: center;
            }
        }

        .roomlist-item-metadata {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            height: 56px;
            font-size: 11px;
            color: lightgray;
        }
    }
}
