.friendlist {
    flex: auto;
    overflow-y: scroll;

    .friendlist-subtitle {
        color: gray;
        font-size: 11px;
        margin: 8px 0;
        padding: 0 16px;
    }
    
    .friendlist-profile {
        display: flex;
        padding: 6px 16px;
        cursor: default;
    
        &:hover {
            background: #f8f8f8;
        }
    }
    
    .friendlist-hr {
        height: 1px;
        background: #f0f0f0;
        margin: 8px 16px;
    }
}
