.invitable-user-list {
    width: 280px;
    height: 360px;
    overflow-y: scroll;

    .invitable-user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        &:hover {
            background: #f8f8f8;
        }

        .invitable-user-profile {
            display: flex;
            align-items: center;
            padding: 4px;
        }

        .invitable-user-selected {
            width: 16px;
            height: 16px;
            margin-right: 12px;
            border: 1px solid lightgray;
            border-radius: 8px
        }
    }
}