.button {
    border: 1px solid;
    border-radius: 2px;
    display: table;
    cursor: default;

    .button-content {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
}

.button-normal {
    background: white;
    border-color: #d7d7d7;
    color: lightgray;
}

.button-normal-active {
    color: black;
    cursor: pointer;

    &:hover {
        background: #f8f8f8;
        border-color: #dcdcdc;
    }
}

.button-accent {
    background: #ffea2d;
    border-color: #e5ca6b;
    color: #daba60;
}

.button-accent-active {
    color: black;
    cursor: pointer;

    &:hover {
        background: #f8e022;
        border-color: #daba60;
    }
}