.button {
    width: 70px;
    height: 48px;
    border: 1px solid;
    border-radius: 2px;
    color: lightgray;
}

.button-normal {
    background: white;
}

.button-normal-active {
    color: black;
    &:hover { background: lightgray; cursor: pointer; }
}

.button-accent {
    background: yellow;
}

.button-accent-active {
    color: black;
    &:hover { background: gold; cursor: pointer; }
}